.search input {
  width: 350px;
  background-color: #111111;
  height: 24px;
  outline: none;
  border: none;
  padding: 5px;
  color: white;
}

.search button {
  text-transform: uppercase;
  height: 34px;
  width: 80px;
  background-color: #444444;
  color: #888888;
  border: none;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  outline: none;
}
