.video-list div section {
  height: 176px;
  overflow: hidden;
}

h3 {
  margin-top: 0;
  cursor: pointer;
}

.img-wrapper {
  min-width: 360px;
}

.img-wrapper img {
  cursor: pointer;
}

.video-list > div {
  display: flex;
  margin-bottom: 30px;
}

.video-list > div > img {
  margin-right: 20px;
}

.video-list .description {
  color: #888;
}
