/* HEADER */

header {
  padding: 10px 0;
  background-color: #242424;
  box-shadow: 0 0 5px 5px #222;
}

header a {
  text-decoration: none;
  color: white;
  font-size: 26px;
  font-family: "Pathway Gothic One", sans-serif;
  display: flex;
  align-items: center;
}

header .logo img {
  width: 50px;
}
